---
const today = new Date();
---

<footer>
    &copy; {today.getFullYear()} Table ronde optique amateur FR.
    <div class="social-links">
        <div>Liens :</div>
        <a style="text-decoration: underline" href="https://github.com/table-ronde-optique-amateur-fr/table-ronde-optique-amateur-fr" target="_blank">GitHub</a>
        <a style="text-decoration: underline" href="https://atm-buddy.app" target="_blank">ATM-Buddy, application mobile pour pousseurs de verre</a>
    </div>
    <p style="font-size: 0.6rem; margin-top: 3em">Une proposition de <a style="color: inherit" href="https://lucassifoni.info/" target="_blank">Lucas Sifoni</a> rendue possible par le <a style="color: inherit" target="_blank" href="https://astro-fr.fr/" target="_blank">Discord Astro-FR</a></p>
</footer>
<style>
    footer {
        padding: 2em 1em 6em 1em;
        background: linear-gradient(var(--gray-gradient)) no-repeat;
        color: rgb(var(--gray));
        text-align: center;
    }
    .social-links {
        display: flex;
        justify-content: center;
        gap: 1em;
        margin-top: 1em;
    }
    .social-links a {
        text-decoration: none;
        color: rgb(var(--gray));
    }
    .social-links a:hover {
        color: rgb(var(--gray-dark));
    }
</style>
